@CHARSET "ISO-8859-1";

.member{
	border-bottom-color:#C4C4C4;
	border-bottom-left-radius:1px;
	border-bottom-right-radius:1px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#C4C4C4;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#C4C4C4;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#C4C4C4;
	border-top-left-radius:1px;
	border-top-right-radius:1px;
	border-top-style:solid;
	border-top-width:1px;
	display: block;
	width:300px;
	height:130px;
	margin-top:10px;
	margin-right:12px;
	background-color:whiteSmoke;
	float: left;
	position:relative;
}

.member img{
	float:left;
	margin:10px;
}

#about h2 {
font-size: 26px;
font-weight: 100;
color: #5A677A;
background: url(images/greenArrow.jpg) no-repeat left center;
padding: 0 0 0 24px;
}