@CHARSET "ISO-8859-1";

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#191919;
  display:none;
}
  
#boxes .window {
  position:fixed;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
}

#boxes #dialog {
  	background-color:#ffffff;
	border-bottom-color:#C4C4C4;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#C4C4C4;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#C4C4C4;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#C4C4C4;
	border-top-style:solid;
	border-top-width:1px;
	display: none;
}

#boxes #dialog #product_image_frame {
background: url('../images/product_image_frame.png') no-repeat top;
width: 345px;
height: 405px;
float: left;
margin-top:2.5px;
}

#boxes #dialog #middleblock {
width: 300px;
height: 405px;
margin-left: 0px;
float: left;
}

.auction-detail-bid-frame {
background: url('../images/bid_frame.png') no-repeat top left;
height: 303px;
}

.discount_frame_block {
background: url('../images/discount_frame.png') no-repeat top left;
height: 105px;
}

th.auction-name-header {
background-color: #06507F;
margin: 0;
padding: 5px 20px;
font-size: 1.6em;
font-weight: bold;
color: white;
}

#bidConfirm{
	cursor:pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.cancelBtt{
	cursor:pointer;
	color: #ffffff;
	border: 1px solid #DA4F49;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.bidBttConfirm{
	cursor:pointer;
	color: #ffffff;
	border: 1px solid #F89406;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}