@CHARSET "ISO-8859-1";

div#rightAds{
	top:115px;
	left:1020px;
	height:800px;
	width:250px;
	float: right;
	position:absolute;
}

div#liAds{
	top:0px;
	left:0px;
	height:135px;
	font-size:14px;
	width:250px;
	position:relative;
	border-bottom-color:#C4C4C4;
	border-bottom-style:solid;
	border-bottom-width:1px;
	text-align: left; 
	margin: 10px 0px;
}

div#img{
	float: left; 
	margin: 4px 10px 3px 0px;
}
a#h3{
	color:#3B5998;
	text-decoration:none;
}