@CHARSET "ISO-8859-1";
body{
	/*font-family:"lucida grande",tahoma,verdana,arial,sans-serif;*/
	/*background-color:#F3F7FB;*/
	font-size:14px;
}
a{
	cursor:pointer;
}

#delete {
	float:left;
	width:16px;
	height:30px;
	line-height:25px;
	margin-right:5px;
	padding:0 10px 0 10px;
	font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
	font-size:22px;
	background: #fff;
	border:solid 1px #d9d9d9;
	border-top:solid 1px #c0c0c0;
	border-left:none;
}
/* Set default state of "X" and hide it */
#delete #x {
	color:#A1B9ED;
	cursor:pointer;
	display:none;
}
/* Set the hover state of "X" */
#delete #x:hover {
	color:#36c;
}

.deleteButton{
	background-color:#DA4F49;
	border:0px;
	color:#FFFFFF;
	width:90px;
	height:25px;
	font-size:14px;
	border-radius:10px 10px 10px 10px;
	cursor:pointer;
}

#uploadPaper{
	cursor:pointer;
	color: #ffffff;
	background-color: #4d90fe;
	border: 1px solid #3079ED;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.btn{padding:7px 4px 7px 4px;font-weight:normal;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.btn-success,.btn-success:hover{
	color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#F89406;
	border-color:#51a351 #51a351 #387038;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.fileinput-button {
  position: relative;
  overflow: hidden;
  float: right;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
}
.icon-plus{background-position:-408px -96px;}
.icon-white{background-image:url("../images/glyphicons-halflings-white.png");}