/* // thumbnail list */
 #push {
	height: 43px; /* .push must be the same height as .footer */
    padding-top:10px;
}
#wrapper{
    width:979px;
    min-height: 96%;
	height: auto !important;
	height: 96%;
	text-align:left;
    margin: 0 auto -30px;
    padding:0 10px 0px 10px;
}

.clearfix{
	clear:both;
	float:none;
}
#bigPic{
	width:900px;
	height:260px;
	padding:1px;
	background-color:#FFF;
	margin-bottom:10px;
}
#bigPic img{
	position:absolute;
	display:none;
	width:860px;
	height:260px;
}
ul#thumbs li.active{
	background:#C4C4C4;
	color: #000000;
	padding:2px;
}
ul#thumbs, ul#thumbs li{
	margin:0;
	padding:0;
	list-style:none;
}
	
ul#thumbs li{
	float:left;
	margin-right:7px;
	margin-bottom:5px;
	border:1px solid #CCC;
	border-radius: 5px;
	padding:3px;
	cursor:pointer;
}