@CHARSET "ISO-8859-1";
@CHARSET "ISO-8859-1";
#showAd, #createAd{
	width:790px;
	height:110px;
	margin-bottom:2px;
	margin-left:20px;
	border-bottom-color:#C4C4C4;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#C4C4C4;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#C4C4C4;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#C4C4C4;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-top-style:solid;
	border-top-width:1px;
	display: block;
}

#file_browse_wrapper {
    width: 93px;
    height: 28px;
    background: url('../images/file_browse_normal.png') 0 0 no-repeat;
    border:none;
    overflow:hidden;
}
#file_browse_wrapper:hover {
    background: url('../images/file_browse_hover.png') 0 0 no-repeat;
}

#file_browse{
    margin-left:-145px;
    opacity:0.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.deleteButton{
	background-color:#DA4F49;
	border:0px;
	color:#FFFFFF;
	width:90px;
	height:25px;
	font-size:14px;
	border-radius:10px 10px 10px 10px;
	cursor:pointer;
}