@CHARSET "ISO-8859-1";

body{
	/*font-family:"lucida grande",tahoma,verdana,arial,sans-serif;*/
	/*background-color:#F3F7FB;*/
	font-size:14px;
}
.textInp{
	border: 1px solid rgb(126, 157, 185);
	padding: 2px;
	background-color: rgb(255, 255, 255);
	background-position: 0% 50%;
	background-repeat: no-repeat;
	border-radius: 2px;
	margin: 0 5px 0 0;
}

.button{
	cursor:pointer;
	padding:3px 25px 3()px 25px;
}
a{
	cursor:pointer;
}